.CreateTodo_modal,
.EditTodo_modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.CreateTodo_modalContent,
.EditTodo_modalContent {
  margin: 15% auto;
  background: white;
  width: 70%;
  padding: 9px;
  border-radius: 15px;
}
.Create_todo_close {
  border: 0;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.74);
  box-shadow: 0 1px 5px black;
  margin: -5% 0 10px calc(100% - 20px);
  cursor: pointer;
}
.Create_todo_close:focus,
input[name="activity"]:focus {
  outline: none;
}

.EditTodo_modalContent textarea {
  min-height: 50px;
  width: 90%;
  resize: none;
  margin: 10px auto;
}
.CreateTodo_modalContent button[type="submit"],
.EditTodo_modalContent button[type="submit"] {
  width: 250px;
  padding: 5px;
  border-radius: 10px;
  margin-top: 15px;
  margin-left: calc(100% - 250px);
  cursor: pointer;
  background: #d63031;
  color: whitesmoke;
  font-size: 1.5em;
}
.editBtn {
  display: flex;
}
.Cancel {
  width: 250px;
  padding: 5px;
  border-radius: 10px;
  margin-top: 15px;

  cursor: pointer;
  background: #d63031;
  color: whitesmoke;
  font-size: 1.5em;
}
@media all and (max-width: 600px) {
  .CreateTodo_modal,
  .EditTodo_modal {
    overflow: auto;
  }
  .CreateTodo_modalContent,
  .EditTodo_modalContent {
    margin: 45% auto;
  }
  .CreateTodo_modalContent button[type="submit"],
  .EditTodo_modalContent button[type="submit"],
  .Cancel {
    width: 100%;
    padding: 10px;
    margin: 25px 0 0 0;
    font-size: 1.5em;
    float: none;
    border-radius: 10px;
    cursor: pointer;
  }
  .editBtn {
    display: block;
  }
}
