.Header {
  background-color: rgba(0, 0, 0, 0.658);
  color: white;
  padding: 9px;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.header_navlink {
  margin: 20px;
  color: white;
  /* color: black; */
  text-decoration: none;
  font-size: 20px;
  padding-bottom: 5px;
}
.action {
  color: white;
  /* color: black; */
  border-bottom: 2px solid green;
}

.header_navlink:hover {
  border-bottom: 2px solid green;
}

@media all and (max-width: 600px) {
  .Header {
    padding: 10px;
  }
  .header_navlink {
    text-align: center;
    margin: 0;
    margin-right: 15px;
    color: white;
    /* color: black; */
    font-weight: 400px;
    text-decoration: none;
    font-size: 17px;
    padding-bottom: 5px;
  }
}
