.wrappers,
.bg-login {
  padding: 10px;
  background: linear-gradient(rgba(0, 0, 0, 0.301), rgba(0, 0, 0, 0.301)),
    url(./../../images/young-791849_1920.jpg);
  background-size: cover;
  width: auto;
  height: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

@media all and (min-width: 600px) {
  .bg-login,
  .wrappers {
    padding: 30px;
    overflow: auto;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    top: 0;
    bottom: 0;
  }
  .bg-login > .login,
  .wrappers > .signup {
    margin-top: 5%;
  }
}

@media all and (max-width: 600px) {
  .bg-login > .login,
  .wrappers > .signup {
    margin-top: 40px;
  }
}
