.todos_wrapper {
  display: flex;
  width: 75%;
  min-height: 180px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.425);
}

.left_side p:nth-child(1) {
  padding: 7px;
  border-right: none;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  margin-right: -5px;
}
.todo_buttons button,
.left_side button {
  width: 90px;
  padding: 0.5px;
  border-radius: 9px;
  margin: 5px;
  cursor: pointer;
}
.todo_buttons {
  display: flex;
  padding: 4px;
  justify-content: flex-end;
  margin: 1px;
}
.todo_activities {
  line-height: 20px;
  margin: 4px;
  padding: 2px;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.done {
  background: rgba(0, 128, 0, 0.829);
}
.not_done {
  background: rgba(255, 0, 0, 0.918);
}
.done,
.not_done {
  color: white;
}

/* .oneButton  */
.todo_buttons .wide_button {
  width: 100%;
  background: rgba(0, 128, 0, 0.829);
  color: whitesmoke;
  padding: 2px 0;
}

.left_side .viewTodo {
  width: 100px;
  height: 25px;
}

.left_side .viewTodoGreen {
  background-color: rgba(0, 128, 0, 0.829);
  color: whitesmoke;
}

.left_side .viewTodoRed {
  background-color: rgba(255, 0, 0, 0.918);
  color: whitesmoke;
}
@media all and (max-width: 600px) {
  .todos_wrapper {
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 100%;
    height: 293px;
    min-height: 0;
  }
  .left_side p:nth-child(1) {
    margin-right: 0px;
  }
  .left_side {
    border-right: 0;
  }
  .todo_buttons button,
  .left_side button {
    width: 70px;
    padding: 0.2px;
    margin: 1px;
  }
  .left_side p:nth-child(2) {
    display: flex;
    justify-content: space-between;
    padding: 9px;
  }
  .left_side button {
    height: 20px;
  }
  .todo_buttons {
    justify-content: space-around;
    margin: 0;
  }
  .todo_activities {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 90px;
    padding: 0 9px 15px 9px;
    padding-bottom: 13px;
  }
  .oneButton .wide_button {
    margin-top: -9px;
  }
}

@media all and (min-width: 600px) {
  .left_side {
    border-right: 1px solid black;
    padding: 5px;
    width: 29%;
  }
  .right_side {
    width: 80%;
  }
}
