.Todo_wrapper {
  min-width: 500px;
  padding: 40px;
}
.Todo_wrapper h1 {
  text-align: center;
}

.loading {
  text-align: center;
}

.Todo_wrapper img {
  width: 20%;
}

@media all and (max-width: 600px) {
  .Todo_wrapper {
    min-width: 200px;
    padding: 30px;
  }
  .Todo_wrapper h1 {
    font-size: 25px;
  }

  .Todo_wrapper > div {
    margin-top: 20%;
  }
}
